{% extends 'base.html' %}


{% block head %}
<title> Predict </title>
{% endblock %}


{% block body %}
<h2>Predict</h2>

<form action="/predict" method="POST">
    <div class="form-row">
        <div class="form-group">
            <label for="number_of_adults">Number of Adults</label>
            <select class="form-control" select id="number_of_adults" name="number_of_adults">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
            <br>
            


            <label for="number of children">Number of Children</label>
            <select class="form-control" select id="number of children" name="number of children">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>9</option>
                <option>10</option>
            </select>
            <br>
            

            <label for="number of weekend nights">Number of weekend nights</label>
            <select class="form-control" select id="number of weekend nights" name="number of weekend nights">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
            </select>
            <br>
            


            <div class="form-group">
                <label for="number of week nights">Number of week nights</label>
                <input type="number" class="form-control" id="number of week nights" name="number of week nights"
                    placeholder="number of week nights" , step="1.0">
                <small>From 0 to 17</small>
            </div>
            <br>


            <label for="type of meal">Type of meal</label>
            <select class="form-control" select id="type of meal" name="type of meal">
                <option>Not Selected</option>
                <option>Meal Plan 1</option>
                <option>Meal Plan 2</option>
                <option>Meal Plan 3</option>

            </select>
            <br>


            <label for="car parking space">Car parking space</label>
            <select class="form-control" select id="car parking space" name="car parking space">
                <option>0</option>
                <option>1</option>
            </select>
            <br>

            <label for="room type">Room type</label>
            <select class="form-control" select id="room type" name="room type">
                <option>Room_Type 1</option>
                <option>Room_Type 2</option>
                <option>Room_Type 3</option>
                <option>Room_Type 4</option>
                <option>Room_Type 5</option>
                <option>Room_Type 6</option>
                <option>Room_Type 7</option>
            </select>
            <br>

            <div class="form-group">
                <label for="lead time">lead time</label>
                <input type="number" class="form-control" id="lead time" name="lead time" , step=".00001"
                    placeholder="lead time">
            </div>
            <br>



            <label for="market segment type">Market segment type</label>
            <select class="form-control" select id="market segment type" name="market segment type">
                <option>Offline</option>
                <option>Online</option>
                <option>Corporate</option>
                <option>Aviation</option>
                <option>Complementary</option>
            </select>
            <br>

            <label for="repeated">Repeated</label>
            <select class="form-control" select id="repeated" name="repeated">
                <option>0</option>
                <option>1</option>
            </select>
            <br>


            <div class="form-group">
                <label for="P-not-C">P_not_C</label>
                <input type="number" class="form-control" id="P-not-C" name="P-not-C" , step="1"
                    placeholder="P-not-C">
                <small>From 0 to 58</small>
            </div>
            <br>

            <div class="form-group">
                <label for="average price ">Average price</label>
                <input type="number" class="form-control" id="average price " name="average price " , step=".00001"
                    placeholder="average price ">
            </div>
            <br>

            <label for="special requests">Special requests</label>
            <select class="form-control" select id="special requests" name="special requests">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>

            </select>
            <br>

            <div class="form-group">
                <label for="month">month</label>
                <input type="number" class="form-control" id="month" name="month"
                    placeholder="month" , step="1.0">
                    <small>From 1 to 12</small>
            </div>
            <br>

            <div class="form-group">
                <label for="day">Day</label>
                <input type="number" class="form-control" id="day" name="day"
                    placeholder="day" , step="1.0" >
                    <small>From 1 to 31</small>
            </div>
            <br>

            <label for="year">Year</label>
            <select class="form-control" select id="year" name="year">
                <option>2015</option>
                <option>2017</option>
                <option>2018</option>
            </select>
            <br>









        </div>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <h5>{{y_pred}}</h5>
</form>
{% endblock %}